body{
	font-family: 'roboto', sans-serif;
	background: #a3c8db;
	margin:0;
	color:black;
}
.container{
	width:90%;
	display:flex;
	justify-content: center;
	flex-direction: column;
	margin:0 auto;
	box-align:center;
	padding:5px;
}

header{
	background:white;
	margin:0;
}
.logo{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.logo h3{
	margin:0;
	text-align: center;
	font-weight:400;
	font-size:1.8rem;
	letter-spacing: 3px;
	color: #00669B;
}

.uppercase{
	text-transform: uppercase;
}

.heading{
	width:100%;
	background:#00669B;
	color:white;
	margin-top: 1.4641288433382138vw;
    margin-bottom: 1.9765739385065886vw;
    padding: 1.0248901903367496vw 1.4641288433382138vw;
    margin-left: auto;
    margin-right:auto;
}

.heading h3{
	font-size:1.756rem;
	margin:0;
	font-weight: 400;
}

.cards{
	display:grid;
	justify-content: center;
	width:100%;
	gap:1rem;
	flex-wrap:wrap;
	grid-auto-flow: column;
}

.cards > .card{
	width:100%;
	height:350px;
	background-color:#cfe2ec;
	color:white;
	position: relative;
	min-width: 325px;
}

@media (max-width: 1560px){
	.cards > .card:nth-child(2n + 1){
		grid-column: 1;
	}
}

@media (max-width: 750px){
	.cards > .card:nth-child(1n + 1){
		grid-column: 1;
	}
}

.card > div{
	display: flex;
	justify-content: center;
	align-items: center;
	height:250px;
}

.card img{
	border-radius: 5px;
}
.card > a{
	display:block;
	position:absolute;
	bottom:25px;
	left:50%;
	transform:translateX(-50%);
	background: #00669B;
	color:white;
	text-decoration: none;
	padding:17px 55px;
	border-radius: 10px;
	width:200px;
	text-align: center;
	transition: 0.5s all;
}

.card > a:hover{
	border:1px solid #00669B;
	background: white;
	color: #00669B;
}

.align-center{
	display: flex;
	align-items: center;
}

.logo > a{
	width: 19%; 
	display: inline-block;
}

.logo > a > img{
	max-width: 100%; 
	max-height: 100px;
	width:auto;
}

.logo h3{
	width: 59%; 
	display: inline-block;
}

.right-logo{
	text-align: right; 
	width: 20%; 
	display: inline-block;
}

.horizontal-line{
	width:100%;
	height:2px;
	background: #C8D4E3;
	position: absolute;
}

.horizontal-line-2{
	width:53%;
	height:2px;
	background: #C8D4E3;
	position: absolute;
	left:23%;
	top:50%;
	transform:translateY(-50%);
}


.vertical-line{
	height:100%;
	width:2px;
	background: #C8D4E3;
	position: absolute;
}

.vertical-line-2{
	width:2px;
	height:75%;
	background: #C8D4E3;
	position: absolute;
}

.anim-pos-vertical-4{
	left:23%;
	top:12.5%;
}

.anim-pos-vertical-5{
	top:12.5%;
	right:23%;
}
.anim-pos-vertical-1{
	left:0;
}

.anim-pos-vertical-2{
	right:0;
}

.anim-pos-vertical-3{
	left:50%;
	transform:translateX(-50%);
}


.anim-pos-1{
	top:0;
}

.anim-pos-2{
	top:12.5%;
}

.anim-pos-3{
	bottom:12.5%;
}

.anim-pos-4{
	bottom:-1px;
}

/*.animation-parent{
	margin:50px auto;
	display: block;
	width:78px;
	height:36px;
	position: relative;
}*/

.animation-parent{
	margin:50px auto;
	display: block;
	width:260px;
	height:120px;
	position: relative;
}

.index-1{
	background: #00669B;
	z-index:2;
	transition: 1s all;
}

.index-2{
	background: #00669B;
	z-index:2;
	transition: 1s all;
}

.index-3{
	background: #00669B;
	z-index:2;
	transition: 1s all;
}

.index-4{
	background: #00669B;
	z-index:2;
	transition: 1s all;
}

.loading-container{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	flex-direction: column;
}

.loading-container p{
	color: #00669B;
}

.zoomLevel{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
	gap:5px;
}

.zoomContainer p{
	margin:0;
	text-align:center;
	color:white;
	font-size:16px !important;
	text-align: center;
}

.zoomLevel i {
	border-radius:50%;
	background:white;
	padding:1px;
	color:#0154AD;
	font-size: 18px !important;
}
.zoomContainer{
    position: fixed;
    left: 20%;
    top: 15px;
	width:150px;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.disclaimer{
	position:fixed;
	left:50%;
	transform:translateX(-50%);
	bottom:50px;
}

.type{
	width: unset !important
}

.ui-button{
    border-radius: 10px;
    color: white;
    padding: 5px;
    /* background-color: #0154AD; */
	background-color: #00669B;
	width:180px;
	height:45px;
	letter-spacing: .25em;
	text-transform: uppercase;
	transition: 0.5s all;
	cursor: pointer;
	font-size: 15px;
	outline: 0;
	border: unset;
}

.ui-button:hover{
	background-color: white;
	border: 1px solid #00669B;
	color: #00669B;
}

.ui-actions{
	position: fixed;
	bottom:75px;
	left:50%;
	transform:translateX(-50%);
	z-index: inherit;
}

.overlay{
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	inset:0;
	z-index: 2;
}

.form-quote div{
	display: flex;
	justify-content: space-between;
	padding:5px 0;
}

.form-quote input{
	width:300px;
	border:1px solid lightgray;
	height:30px;
}

.form-quote{
	background:white;
	position: fixed;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	width:600px;
	height:407px;
	z-index: 3;
	padding:0 25px;
}

.send-quote-btn{
	width:100px;
	height: 30px;
	margin-top:15px;
}