@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo-img-css{
	width: 50%; 
	display: inline-block;
	text-align: center;
}

html, body{
	font-family: 'Poppins', sans-serif !important;
	margin:0;
	height: 100%;
}


.left-menu{
	min-height:100%;
	max-height: 100%;
	width:16%;
	background-color:white;
	display: flex;
	align-items: center;
	padding:15px 0;
	border-right: 1px solid #00669B;
	background: #cfe2ec;
	color:black;
	flex-direction: column;
	position:absolute;
	left:0;
	top:0;
	min-width:275px;
	z-index:16;
}

.left-menu::-webkit-scrollbar{
	display: none;
}
.right-menu::-webkit-scrollbar{
	display: none;
}

.right-menu{
	width:16.5%;
	min-height:100%;
	max-height: 100%;
	overflow-y:visible;
	overflow-x:visible;
	height:auto;
	background-color:white;
	display: flex;
	align-items: center;
	padding:15px 0;
	border-left: 1px solid #00669B;
	background: #cfe2ec;
	color:black;
	flex-direction: column;
	position:absolute;
	top:0;
	right:0;
	transition: all 0.8s ease;
	min-width: 264px;
	z-index: 15;
}

.right-menu > div{
	width:90%;
	margin:0 auto;
	border-bottom:1px solid #00669B;
	padding-bottom: 1rem;
}

.left-menu p {
	margin:0;
	margin-bottom:5px;
}

.left-menu > div{
	width:90%;
	margin:0 auto;
	border-bottom:1px solid #00669B;
	padding-bottom: 1rem;
}
.type{
	padding:10px;
	border-radius: 15px;
	width:unset;
	background: #00669B;
	color:white;
	position:relative;
	margin:0 auto;
	font-size:14.5px;
}

.type::after{
	content:"\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position:absolute;
	right:15px;
	top:50%;
	transform:translateY(-50%);
}

.type--visible .options--show{
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}

.options--select-first{
	padding-top:5px !important;
	display: inline-block;
}

.type--visible::after{
	top:15px;
	transform:translateY(-0%);
}
.type p {
	margin: 0;
	padding:0;
	width:100%;
}

.type p.options--hide{
	display:none;
}
select * {
	padding:25px;
	width:25px;
	height:25px;
	display:none;
	position: relative;
}


.center{
	display: flex;
	justify-content: center;
}

.mbot-1{
	margin-bottom: 1rem !important;
}

.mtop-1{
	margin-top:1rem !important;
}

.left-right{
	display: flex;
	width:100%;
	justify-content: space-around;
}

img{
	max-width:100%;
}

.img-cont > img{
	width:50px;
}

.img-cont{
	margin-bottom:15px;
	position: relative;
}

.img-cont--positions{
	margin-top:5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.align-center{
	display: flex;
	align-items: center;
}

.options > span{
	display:inline-block;
	width:60px;
}

.colors-container-wrapper{
	position: relative;
}

.colors-container:hover{
	cursor: pointer;
}
.image-picker{
	width:35px;
	height: 35px;
	background-size: cover;
	border-radius: 5px;
	background-image: url('https://courtsurfacespecialists.com/wp-content/themes/Avada-Child-Theme/court-builder/img/gradient.png');
	background-repeat: no-repeat;
	cursor: pointer;
	background-position: center;
	position: relative;
	mix-blend-mode: difference;
}

.image-picker::after{
	content:"";
	position: absolute;
	width:13px;
	height: 13px;
	display: block;
	border-radius: 100%;
	background: #000;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.image-picker::before{
	content:"";
	position: absolute;
	top:0;
	left:0;
	background: #0099e8;
}

.column-direction{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height:140px;
	width:100px;
}

.column-direction > label{
	display: inline-block;
	margin-bottom: 7px;
	width:100px;
}

.image-picker--container{
	width:100%;
}

.light-positions img{
	cursor:pointer;
}


.color-container{
	width:30px;
	height:30px;
}

.colors-container{
	position:absolute;
	overflow:scroll;
	height:300px;
	top:-30px;
	left:-80px;
	transform:translate(-50%);
	z-index:999;
	width:200px;
	background: white;
}

.color-wrapper{
	color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-wrapper:hover{
	background:rgba(0,0,0,.2);
}

.color-wrapper h4{
	width:80px;
	display: inline-block;
}

.circular-position img{
	cursor:pointer;
}

.circular-position{
	width:100%;
	height:100%;
}
.light-on{
	filter:brightness(1.5) drop-shadow(1px 3px 3px #0099e8);
}

.wrap{
	flex-wrap: wrap;
}

.additional-lines img{
	cursor:pointer;
	width:100px !important;
	height: 100px;
}

.minus-px{
	position: relative;
	top:-2px;
}


.select-pickleball{
	background:white;
	padding:15px;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	display: flex;
	justify-content: space-around;
}

.select-basketball{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	display: flex;
	justify-content: space-around;
}

.relative{
	position:relative;
}

.select-hoops{
	background:white;
	position: absolute;
	top:35px;
	top: -100px;
    left: -130px;
	z-index:55;
	min-height: 192px;
	height:220px;
	background-size: cover;
	background-repeat: none;
    min-width: 287.25px;
    min-height: 192px;
}

.select-hoops img.bg-img-hoops{
	position: absolute;
	width:100% !important;
	height: 100% !important;
	min-width: 287.25px;
	min-height: 192px;
	filter: unset !important;
}

.select-hoops .top{
	position:absolute;
	left: 50%;
	z-index: 999;
	transform:translateX(-50%)
}

.select-hoops .left{
	position: absolute;
	z-index: 999;
	left:1%;
	top:50%;
	transform:translateY(-50%);
}

.select-hoops .right{
	position: absolute;
	z-index: 999;
	right:-1%;
	top:50%;
	transform:translateY(-50%);
}

.select-hoops img{
	width:50px;
	height:60px;
	filter: drop-shadow(1px 2px 1.5px black) brightness(1.2) !important;
}

.select-hoops .top-middle{
	position: absolute;
	left:80%;
	transform:translateX(-50%);
	top:-2px;
}

.select-hoops .bottom-middle{
	position: absolute;
	left:80%;
	transform:translateX(-50%);
	bottom:-2px;
}

img{
	filter: drop-shadow(1px 2px 1.5px black) brightness(1.2);
}

.select-nets{
	background:white;
	position: absolute;
	top:-100px;
	left:-50px;
	width:100%;
	z-index:55;
	min-height: 192px;
	background-size: cover;
	background-repeat: none;
	display: flex;
	align-items: center;
}

.select-nets img{
	cursor:pointer;
}

.MuiSlider-thumb{
	color: #00669B;
	border:1px solid white;
	filter:brightness(1.5);
}

.MuiSlider-root{
	color: #00669B !important;
	padding:5px 0px !important;
}

.MuiSlider-rail{
	height:4px !important;
}

.MuiSlider-track{
	height:4px !important;
}

.MuiSlider-markLabel{
	top:13px !important;
}
.MuiSlider-marked{}

.MuiSlider-mark{
	height:4px !important;
	width:4px !important;
	border-radius: 50% !important;
}

.type{
	cursor: pointer;
}

.options--select{
	background: #00669B;
	cursor:pointer;
}
.options--select:hover{
	filter:brightness(1.5);
}

.mtop-1:last-child{
	border-bottom: unset;
}

.visible{
	visibility: visible;
}

.hidden{
	visibility: hidden;
}

.threeJS-container{
	height:100%;
	margin:0 auto;
	overflow:hidden;
	position: fixed;
}
input.zoomLevel{
	position: absolute;
	left:20%;
	top:3%;
	pointer-events:none;
}

button.ga-fences{
	width:150px;
	margin:0 auto;
	padding:8px;
	background: #00669B;
	color:white;
	border:0;
	outline:0;
	display: block;
	cursor:pointer;
}

canvas{
	max-height: 100vh;
}

.lines-colorpicker-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.top-15{
	position: relative;
	top:15px;
}

.options-colors{
	display: flex;
	justify-content: center;
	position: sticky;
	top:0;
	left:0;
}

.options-colors > div:first-child{
	border-right: 1px solid white;
}

.options-colors > div{
	padding:5px;
	background: #00669B;
	width:100%;
	white-space: wrap;
	color:white;
	text-align: center;
	border-bottom: 1px solid white;
}

.colors-container::-webkit-scrollbar{
}

.picked-colors-container{
	display: flex;
	justify-content: center;
	gap:3px;
}

.selected{
	filter:brightness(1.5);
}

.lines-colorpicker-container .image-picker{

}

.stroke-black{
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

.stroke{
	-webkit-text-stroke-width: 0.2px;
	-webkit-text-stroke-color: currentColor;
}

.additional-lines img.basketball-court-bg{
	width:100% !important;
	height:auto !important;
	z-index:999;
	background:white;
}

.additional-lines img.bl-left{
	position: absolute;
	left:calc( (-200px + (200 * 0.33609px)) / 2 );
	z-index: 9999;
	top:49.8%;
	transform:translateY(-50%) scale(0.33609);
	width:200px !important;
	height: auto!important;
}

.additional-lines img.bl-top{
	position: absolute;
	left:44%;
	z-index: 9999;
	transform:translateX(-50%) scale(0.5);
	width:200px !important;
	height: auto!important;
	top:calc( (-134px + (134 * 0.5px)) / 2 );
}

.additional-lines img.bl-top-middle{
	position: absolute;
	left:77%;
	z-index: 9999;
	transform:translateX(-50%) scale(0.5);
	width:200px !important;
	height: auto!important;
	top:calc( (-134px + (134 * 0.5px)) / 2 );
}

.additional-lines img.bl-bottom-middle{
	position: absolute;
	left:77%;
	z-index: 9999;
	transform:translateX(-50%) scale(0.5);
	width:200px !important;
	height: auto!important;
	bottom:calc( (-134px + (134 * 0.5px)) / 2 );
}

.additional-lines img.bl-right{
	position: absolute;
	right:calc( (-200px + (200 * 0.33609px)) / 2 );
	z-index: 9999;
	top:49.8%;
	transform:translateY(-50%) scale(0.33609);
	width:200px !important;
	height: auto!important;
}

.scrollable-x{
	overflow-x:auto;
}

.sliders{
	position:absolute;
	right:400px;
	top:25px;
	border-bottom: unset !important;
}

.img-tennis{
	height: auto !important;
}

